body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.text_border{
 box-shadow:  0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.form-control{
  box-shadow:  0 .2rem 1rem rgba(0, 0, 0, .15) !important;
 }
